body {
    background-color: #ffffff;
}

.sidebar {
    height: 100vh;
    background-color: #fd9b1a;
    padding: 20px;
}

.sidebar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.sidebar .logo span {
    color: #ffffff;
    margin-right: 10px;
    font-size: 1.5rem;
}

.perfil img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.perfil h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.perfil p {
    color: #ffffff;
    font-size: 0.9rem;
}

.nav-link {
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #ffcc00;
    color: black;
}

.nav-link i {
    margin-right: 10px;
}

.product-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.buttons button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.procurar {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 550px;
    top: 23px;
}

.content {
    padding: 18px;
}

.product-name {
    display: flex;
    align-items: center;


}

img.imagem-product {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 100px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;



}
button#close-modal {
    float: right;
}
.modal-container{
    height: 85%;
    background-color: white;
}
button.btn.btn-primary.btn-modal-enviar{
    background-color: #F28403;
}
.modal-add-product.show {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    inset-area: center;
    background-color: #ffc10717;
    align-content: center;
}
.modal-add-product.hide{
    display: none;
}
.modal-update-product.show {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    inset-area: center;
    background-color: #ffc10717;
    align-content: center;
}
.modal-update-product.hide{
    display: none;
}
.container.px-0.mx-0.principal.show{
    opacity: 0.1;
}

.product-info span {
    font-weight: bold;


}